version: "3.8"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    image: myflaskapp:latest
    environment:
      FLASK_ENV: development
      FLASK_DEBUG: 1
    env_file:
      - .env
    ports:
      - "8080:8080"
    volumes:
      # Код приложения
      - ./app:/app/app:rw
      # зависимости - именованный volume
      - venv_data:/opt/venv
    depends_on:
      - db
    restart: unless-stopped

  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  venv_data:
  pgdata:
